@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;500;600;700&display=swap');


@font-face {
  font-family: 'Emirates Group';
  font-style: normal;
  font-weight: 400;
  src: local('emirates bold'), local('emirates bold'),
    url('assets/fonts/emirates-bold.woff') format('truetype'); /* Safari, Android, iOS */
}


body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}



code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}